div.hero-unit
    h1 Heading

div.content
    div.row
        div.span12
            h2 Books
            ul.unstyled.indent
                each book in books
                    li
                        a(href="book/#{book.isbn}")  #{book.title}